:root {
    --blanc: #f2f2f2;
    --taronja: #f96d00;
    --fosc:  #222831;
    --gris: #393e46;
}

*{
    margin: 0px;
    overflow-x: auto;
    overflow-x: hidden;
    font-family: Montserrat,sans-serif;
}
body {
    background-color: var(--blanc);
}
h2{
    color: var(--taronja);
    font-weight: bold;
}
.content {
    height: 400px;   
}
.content-petit {

}
.divImportant {
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all .2s ease-in-out;
    background-color: var(--gris);
    color: var(--blanc);
}  
h4{
    color: var(--blanc);
}
p {
    color: var(--blanc);
}
.divImportant:hover {
    transform: scale(1.005);
}
.background{
    background-color: var(--fosc);
    color: var(--blanc)
}
.footer{
    height: 100px;
    background-color: var(--fosc);
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--taronja);
}